<%- include('./partials/head') %>


  <h1>Producten</h1>

  <!-- <h2 class="section-title"></h2> -->
  <a href="#" class="section-all">Startpagina / Producten</a>

  <section class="product section" id="products">
    <% producten.forEach(product=> { %>
    <div class="product-container bd-grid">
      <div class="product">
        <div class="product-box">
          <a href="/detail/?detailSlug=<%= product.slug %> "> </a>

          <!-- foto uit de API -->
          <% if(product.plaatjes.length) { %>
          <a href="/detail/?detailSlug=<%= product.slug %>"
            ><img
              src="<%= product.plaatjes[0].url %>"
              alt="Placeholder pinda"
              class="foto"
          /></a>

          <!-- Placeholder foto-->
          <% }else{ %>
          <img
            src="/assets/vini-mini-alt.webp"
            alt="Placeholder pinda"
            class="foto"
          />
          <% } %>
        </div>

        <div class="product-data">
          <h3 class="product-name"><%= product.titel %></h3>
          <span class="product-price"> € <%= product.prijs %> </span>
        </div>
      </div>
    </div>
    <% }) %>
  </section>

  <div class="note">
    <h1>Mini Notities</h1>
  
    <% if (typeof(error) != 'undefined') { %>
      <strong>Er ging iets mis!</strong>
    <% } %>
    
    <div class="form">

    <form action="/newnote" method="post">
  
    <fieldset class="notitieFieldset">
      <label> Titel <span>(Notitie Titel)</span>
        <input type="text" required name="titel">
      </label>
  
      <label>Notitie 
        <input type="text" required name="beschrijving">
      </label>
  
      <label>Datum 
        <input type="datetime-local" required name="datum">
      </label>
  
      <label>Herinnering 
        <input type="datetime-local" required name="herinnering">
      </label>
    </fieldset>
  
      <button type="submit">Toevoegen</button>
    </form>
    </div>
  </div>


  <%- include('./partials/foot') %>
</body>
